<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.store.mapper.SubCommentMapper">

    <select id="retrieveAll" parameterType="string" resultType="com.plateer.domain.SubComment">
        SELECT * FROM SubComment WHERE userId = #{userId}
    </select>
    
    <insert id="insert" parameterType="com.plateer.domain.SubComment">
    	INSERT INTO SubComment VALUES (#{orderId}, #{goodsCode}, #{userId}, #{selectedOptions}, #{myPhoto}, #{quantity}, 0, #{deliveryValue}, #{designValue}, #{sizeValue}, #{starPoint}, #{reviewContent}, CURDATE())
    </insert>

	<update id="modify" parameterType="com.plateer.domain.SubComment">
		UPDATE SubComment SET starPoint = #{starPoint}, deliveryValue = #{deliveryValue}, designValue = #{designValue}, sizeValue = #{sizeValue}, reviewContent = #{reviewContent} where orderId = #{orderId}
	</update>
	
	<update id="recommend" parameterType="com.plateer.domain.SubComment">
		UPDATE SubComment SET recommendCount = #{recommendCount} where orderId = #{orderId}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM SubComment WHERE orderId = #{orderId}
	</delete>
	
	<select id="retrieve" parameterType="String" resultType="com.plateer.domain.SubComment">
		SELECT * FROM SubComment WHERE goodsCode = #{goodsCode}
	</select>
	
	<select id="retrieveFilter" parameterType="hashmap" resultType="com.plateer.domain.SubComment">
		SELECT * FROM SubComment WHERE 
		<trim prefixOverrides="AND">
			<trim prefix="AND">
					<if test="goodsOption == '옵션보기'">
						selectedOptions LIKE '%'
					</if>

					<if test="goodsOption != '옵션보기'">
						selectedOptions = #{goodsOption}
					</if>
			</trim>
			<trim prefix="AND">		
				<if test="orderByOption == '전체보기'">
					goodsCode = #{goodsCode} ORDER BY writtenDate DESC 
				</if>
				<if test="orderByOption != '전체보기'">
					<if test="orderByOption == '높은평점순'">
						goodsCode = #{goodsCode} ORDER BY starPoint DESC 
					</if>
					<if test="orderByOption == '낮은평점순'">
						goodsCode = #{goodsCode} ORDER BY starPoint ASC 
					</if>
					<if test="orderByOption == '사진상품평'">
						
					</if>
				</if>
			</trim>			
		</trim>
	</select>
</mapper>