<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.store.mapper.SumEvaluationMapper">

	<select id="retrieve" parameterType="String" resultType="com.plateer.domain.SumEvaluation">
		SELECT * from SumEvaluation WHERE goodsCode = #{goodsCode}
	</select>
	
	<update id="modify" parameterType="com.plateer.domain.SumEvaluation">
		UPDATE SumEvaluation SET deliveryCommon = #{deliveryCommon}, deliveryBest = #{deliveryCommon},
		deliveryWorst = #{deliveryWorst}, designCommon = #{designCommon}, designBest = #{designBest}, designWorst = #{designWorst},
		sizeCommon = #{sizeCommon}, sizeBest = #{sizeBest}, sizeWorst = #{sizeWorst} where goodsCode = #{goodsCode}
	</update>
</mapper>